
#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    margin: auto;
    margin-bottom: 30px;
    width: 65%;
}
.drop-style {
    border-radius: 5px;
    border-color: #c0c0c0;
}
.main-drop-down
{
    width: 100%;
}
.main-drop-down ul li.first-li-dropdown
{
    float: left;
    width: 33%;
}
.main-drop-down ul li.second-li-dropdown
{
    float: left;
    width: 33%;
}
.main-drop-down ul li.third-li-dropdown
{
    float: left;
    width: 33%;
}
.second-drop-down.mx-2 {
    width: 107%;
}
select.select-first-dropdown {
    padding: 4px;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 500;
    background-color: #f8f9fa;
}
.select-first-dropdown:hover
{
    background-color: #d3d4d5;
}
.select-second-dropdown {
    padding: 6px;
    border-radius: 17px;
    background-color: #f8f9fa;
    font-size: 14px;
    font-weight: 500;
}
.select-second-dropdown:hover
{
    background-color: #d3d4d5;
}
#section-1 .main-button {
    margin-top: -4px;
    text-align: left;
}
.info-bar {
    background: #f5f5f5;
    padding: 25px 28px;
    margin-bottom: 15px;
}
img.pull-right {
    float: right;
}
p.info-titles {
    font-weight: 600;
    color: #000;
    padding-bottom: 10px;

}
p.info-titles a strong {
    text-decoration: underline;
    
}
p.info-body {
    line-height: 20px;
    color: #000;
    font-size: 13px;
}
.content-area {
    padding: 10px;
}
.content-area h3 {
    padding-bottom: 21px;
}
p {
    text-align: justify;
    font-size: 13px;
    color: gray;
}
.content-item ul li{
    list-style-type: disc;
    font-size: 13px;
}
.content-item {
    padding-left: 45px;
    padding-top: 16px;
}
.content-footer {
    padding: 15px 0;
}
.aside-bar-section {
    padding: 17px;
}
.aside-bar-section h6 {
    padding-bottom: 8px;
}
.aside-bar-section ul {
    padding-left: 7px;
}
.aside-bar-section li{
    padding: 7px;
}
.aside-bar-section ul li a{
    font-size: 14px;
}
a.logo.navbar-brand {
    margin-top: 22px;
    font-weight: 600;
    color: #fff;
}
.journal-area {
    margin-top: 10px;
    padding: 18px;
    background: #eeee;
}

/* FAQS */
.main-content {
    margin-top: 102px;
}
h5.card-title 
{
    text-decoration: underline;
}


/* ------------------------------------------ */

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
   
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 62px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
  
}
.div-dropdown
{
    width: 80%;
}

/* multi steps form */

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
  
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
    /* margin: 0 10%; */
    position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
/* #msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
} */

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #2098ce;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 140px;
    background: #2098ce;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #2098ce;
}

#msform .action-button-previous {
    width: 100px;
    background: #aCbEd0;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #aCbEd0;
}

/*headings*/


.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
    padding: 10px 0;

}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #666;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps blue*/
/*The number of the step and the connector before it = blue*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #2098ce;
    color: white;
}

.pull-right {
    float: right !important;
}
.alert-info
{
    padding: 35px;
    font-size: 14px;
}
.form-section
{
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 2px 1px rgb(0 0 0 / 40%);
    padding: 50px 30px;
    box-sizing: border-box;
    width: 100%;
    /* margin: 0 10%; */
    position: relative;
    margin-bottom: 18px;
}
select.browser-default.custom-select {
    float: left;
    padding: 8px;
}
.paper-preview-background {
    background: #f3f3f3;
    margin-top: 10px;
    padding: 49px 0;
}
.center-block {
    float: none;
}
.paper-preview {
    margin-top: 25px;
    padding: 60px 80px;
    height: 1550px;
    overflow: auto;
    font-size: .9em;
    -webkit-box-shadow: 0 -4px 9px #cacaca;
    -moz-box-shadow: 0 -4px 9px #cacaca;
    box-shadow: 0 -4px 9px #cacaca;
    line-height: 1.8em;
    background: #fff;
    max-width: 1000px;
    margin: auto;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.marginTop25 {
    margin-top: 25px;
}
.live-form-blank {
    background: #d9edf7;
    padding: 3px 5px;
}
.form-callout {
    position: relative;
    padding: 25px 25px 20px;
    border: 1px solid #e7e7e7;
    margin-bottom: 10px;
    box-shadow: 0 0 15px #f3f3f3;
}
.form-title {
    margin-bottom: 10px;
    color: #2f3d4c;
}
.form-group {
    margin-top: 10px;
    margin-bottom: 0;
}
.alert {
    padding: 28px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.preview-area
{

}
img.download-image
{
    width: 66%;
}